#cover-image { 
	background: url("https://cdn2.webdamdb.com/1280_0K4oRQiInmob.jpg?1457389425%22") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 200px;
  height: 320px;
}

#contact-image {
	max-width: 200px;
}